:root {
    --blue: #4A99D3;
}


.home {
    width: 1440px;
    height: 4516px;
}

.nav {
    background-color: yellow;
}

.nav-logo {


    font-family: 'Objective';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #4A99D3;
}



.start-page {
    background-color: aqua;
}


.mockup-images img:nth-of-type(1) {

}
.mockup-images img:nth-of-type(2) {
 
}



.what-to-do {

    background-color: orangered;
}



.how-it-works {

    background-color: pink;
}



.what-our-client-say {

    background-color: yellow;
}



.download {

    background-color: green;
}



.nav-footer {

    background-color: red;
}