@use '../../mixins.scss';
@use '../../adaptive.scss';

.intro {
    display: flex;
    flex-direction: column;

    .nav {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;

        .logo {
            @include mixins.logo;
            color: mixins.$color-blue;
            margin-right: 33%;
        }

        .buttons {
            button {
                border: 0;
                background-color: white;
                font-weight: 400;
                font-size: 18px;
                line-height: 19px;
                margin-left: 20px;
            }

            button:nth-of-type(1) {
                color: mixins.$color-blue;
                font-weight: 500;
            }

            margin-right: 10%;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article {
        display: flex;
        flex-direction: column;
        width: 500px;

        h1 {
            @include mixins.h1__font--dimensions;
            margin: 0 0 20px 0;
        }

        p {
            @include mixins.p__font--dimensions--large;
        }
    }

    .mockup-images {
        width: 525px;
        height: 550px;
        position: relative;

        img:nth-of-type(1) {
            position: absolute;
            width: 240px;
            height: 458px;
            z-index: 1;
            top: 75px;

        }

        img:nth-of-type(2) {
            position: absolute;
            width: 280px;
            height: 534px;
            left: 170px;
        }

    }
}

@media only screen and (max-width: 960px){
    // for mobile
    .content {
        @include adaptive.flex-mobile;
    }
}