
@import '../../mixins.scss';
.set-up {
    display: flex;
    flex-direction: column;
    align-items: center;

    .h3 {
        color: $color-blue;
    }

    .container {
        display: flex;

        .article {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 224px;
            text-align: center;



        }
    }

}