@use '../../mixins.scss';
.set-up {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        color: mixins.$color-blue;
        @include mixins.h3__font--dimensions;
    }

    .container {
        display: flex;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 224px;
            text-align: center;

            h5 {
                @include mixins.h5__font--dimensions;
            }

            p {
                @include mixins.p__font--dimensions;
            }
        }
    }

}