@use '../../mixins.scss';
@use '../../adaptive.scss';

.use-cases {
    display: flex;
    justify-content: center;

    .section {
        position: relative;
        height: 800px;
        width: 500px;
    }

    .section:nth-of-type(1) {
        h2:nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
        }

        article:nth-child(2) {
            position: absolute;
            bottom: 20%;
            left: 15%;
        }
    }

    .section:nth-of-type(2) {
        article:nth-of-type(1) {
            position: absolute;
            right: 0;
            top: 0;
        }

        article:nth-of-type(2) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }

    h2 {
        @include mixins.h2__font--dimensions;
        width: 395px;
    }

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;


        h4 {
            @include mixins.h4__font--dimensions;
        }

        img {
            width: 150px;
            height: 150px
        }

        p {
            width: 284px;
            @include mixins.p__font--dimensions;
        }

        span {
            color: mixins.$color-blue;
        }
    }


}
@media only screen and (max-width: 960px) {

    // for mobile
    .use-cases {
    @include adaptive.flex-mobile;
    }

}