html,body {
    width: 100vw;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;
}
.parallax {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.parallax:nth-child(1) {
    background-image: url("images/summer.jpg");
    color: white;
}
.parallax:nth-child(2) {
    background-image: url("images/fall.jpg");
    color: white;
}
.parallax:nth-child(3) {
    background-image: url("images/winter.jpg");
    color: black;
}
.parallax:nth-child(4) {
    background-image: url("images/spring.jpg");
    color: black;
}