.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}

.headline__title, .headline__caption--large ,.headline__caption--small {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.headline__title {
    font-size: 4em;
}
.headline__caption--large {
    font-size: 2.5em;
}
.headline__caption--small {
    font-size: 1.5em;
}


.timeline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3%;
    width: 100%;
}

.timeline__table li span {
    font-weight: bold;
}


.link--external:link{
    text-decoration: none;
    color: #0072BB;
}
.link--external:visited{
    color: #0072BB;
}
