html {
    height: 100%;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    height: 10%;
}

.header {
    background-color: #326597;
}
.footer {
    background-color: #690;
}


.nav {
    background-color: #FE9900;
    padding: 1% 1%;
    width: 500px;
    max-width: 300px;
}

.rel-links{
    background-color:#936;
    padding: 1% 1%;
    width: 500px;
    max-width: 300px;
}


.flex-container__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0;

}

.flex-container__content {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.flex-container__article {
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 600px) {
.flex-container__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 100%;
    }
    .flex-container__article {
        height: 100%;
    }
    .nav,
    .rel-links {
        height: 8%;
        max-width: 100%;
    }
}
