html {
    height: 100%;
}

.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: white;
    height: 108px;
}

.header {
    background-color: #326597;
}
.footer {
    background-color: #690;
}


.nav {
    background-color: #FE9900;
    width: 320px;
}

.rel-links{
    background-color:#936;
    width: 320px;
}


.flex-container__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 0;

}

.flex-container__content {
    display: flex;
    flex-direction: row;
    height: 864px;
}

.flex-container__article {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 1280px;
}


@media only screen and (max-width: 900px) {
    .flex-container__content {
        display: flex;
        flex-direction: column;
        height: 864px;
        max-width: 900px;
    }

    .flex-container__article {
        height: 100%;
    }

    .nav,
    .rel-links {
        height: 80px;
        width: auto;
    }
    .flex-container__article{
        width: auto;
    }
}