.intro {
  display: flex;
  flex-direction: column;
}
.intro .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.intro .nav .logo {
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;
  color: #4A99D3;
  margin-right: 33%;
}
.intro .nav .buttons {
  margin-right: 10%;
}
.intro .nav .buttons button {
  border: 0;
  background-color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  margin-left: 20px;
}
.intro .nav .buttons button:nth-of-type(1) {
  color: #4A99D3;
  font-weight: 500;
}
.intro .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .article {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.intro .article h1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  margin: 0 0 20px 0;
}
.intro .article p {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
}
.intro .mockup-images {
  width: 525px;
  height: 550px;
  position: relative;
}
.intro .mockup-images img:nth-of-type(1) {
  position: absolute;
  width: 240px;
  height: 458px;
  z-index: 1;
  top: 75px;
}
.intro .mockup-images img:nth-of-type(2) {
  position: absolute;
  width: 280px;
  height: 534px;
  left: 170px;
}

.use-cases {
  display: flex;
  justify-content: center;
}
.use-cases div {
  position: relative;
  height: 800px;
  width: 500px;
}
.use-cases div:nth-of-type(1) h2:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.use-cases div:nth-of-type(1) article:nth-child(2) {
  position: absolute;
  bottom: 20%;
  left: 15%;
}
.use-cases div:nth-of-type(2) article:nth-of-type(1) {
  position: absolute;
  right: 0;
  top: 0;
}
.use-cases div:nth-of-type(2) article:nth-of-type(2) {
  position: absolute;
  right: 0;
  bottom: 0;
}
.use-cases h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  width: 395px;
}
.use-cases article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.use-cases article h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.use-cases article img {
  width: 150px;
  height: 150px;
}
.use-cases article p {
  width: 284px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.use-cases article span {
  color: #4A99D3;
}

.set-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.set-up h3 {
  color: #4A99D3;
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
}
.set-up .container {
  display: flex;
}
.set-up .container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 224px;
  text-align: center;
}
.set-up .container article h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}
.set-up .container article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
}
.feedback .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.feedback .container article {
  width: 418px;
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}
.feedback .container article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.feedback .container article h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}

.download {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.download .mockup-images {
  width: 600px;
  height: 450px;
  position: relative;
}
.download .mockup-images img {
  width: 180px;
}
.download .mockup-images img:nth-of-type(1) {
  position: absolute;
  left: 0;
}
.download .mockup-images img:nth-of-type(2) {
  position: absolute;
  left: 20%;
  bottom: 10%;
  width: 240px;
  z-index: 1;
}
.download .mockup-images img:nth-of-type(3) {
  position: absolute;
  right: 20%;
}
.download article {
  text-align: center;
  width: 444px;
}
.download article h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
}
.download article p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  background-color: #4A99D3;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 50px;
}
.footer .container {
  display: flex;
  justify-content: space-evenly;
}
.footer .container .logo {
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;
}
.footer .container div h3 {
  text-decoration: underline;
}
.footer .container form {
  width: 394px;
}
.footer .container form input {
  width: 268px;
  height: 50px;
}
.footer .container form button {
  width: 110px;
  height: 55px;
  background-color: white;
  border: 0;
  color: #4A99D3;
}
.footer .footer-footer {
  padding: 20px 0;
  display: flex;
  border-top: solid 2px white;
  justify-content: space-around;
}

body {
  font-family: "Objective";
  font-style: normal;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home section {
  width: 100vw;
}

/*# sourceMappingURL=index.css.map */
